<!-- views/profile.ejs -->
<!doctype html>
<html>

<style>
.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.table{
padding: 1% 1% 1% 1%
}

.layout {
    position: relative;
    text-align: center;
    z-index = -1;
}

.weather {
    padding: 1% 1% 1% 1%
}

.area1 {
    position: absolute;
    top: 61%;
    left:55%;
    height: 23%;
    width: 23%;
     background: rgba(248, 255, 127, 0.3);
     text-align: center;
     padding: 0% 0% 0% 0%;
     
}
.area1:hover {
    position: absolute;
    top: 61%;
    left:55%;
    height: 23%;
    width: 23%;
     background:  rgba(248, 255, 127, 1);
     text-align: center;
     padding: 0% 0% 0% 0%;
     font-weight: bold;
     
}

.area2 {
    position: absolute;
    top: 61%;
    left:37%;
    height: 23%;
    width: 18%;
    background: rgba(127, 255, 175, 0.3);
     text-align: center;
     padding: 0% 0% 0% 0%
}

.area2:hover {
    position: absolute;
    top: 61%;
    left:37%;   
    height: 23%;
    width: 18%;
    background: rgba(127, 255, 175, 1);
     text-align: center;
     padding: 0% 0% 0% 0%;
     font-weight: bold;
}

.area3 {
    position: absolute;
    top: 37%;
    left: 37%;
    height: 23%;
    width: 26%;
    background: rgba(221, 179, 255, 0.3);
     text-align: center;
     padding: 0% 0% 0% 0%
}

.area3:hover {
    position: absolute;
    top: 37%;
    left:37%;
    height: 23%;
    width: 26%;
    background: rgba(221, 179, 255, 1);
     text-align: center;
     padding: 0% 0% 0% 0%;
     font-weight: bold;
}

.area4 {
    position: absolute;
    top: 14%;
    left: 23%;
    height: 23%;
    width: 25.5%;
    background: rgba(140, 200, 255, 0.3);
     text-align: center;
     padding: 0% 0% 0% 0%
}

.area4:hover {
    position: absolute;
    top: 14%;
    left:23%;
    height: 23%;
    width: 25.5%;
    background: rgba(140, 200, 255, 1);
     text-align: center;
     padding: 0% 0% 0% 0%;
     font-weight: bold;
}


</style>




<head>
    <meta http-equiv="refresh" content="900" >
    <title>3M HVAC Feedback</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
	<script type="text/javascript" src='../static/echarts.common.min.js'></script>

</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span><img src='../static/3M.png' alt="3M logo"  width="5.5%"></span>&nbspHVAC Feedback</h1>
        <div class="table"><%=smessage%></div>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>


    <!-- PROFILE INFORMATION -->
    <div class="col-sm-6">
        <!--div class="well"-->
            <h3><span class="fa fa-user"></span> User Profile</h3>
                <p>
                    <strong>id</strong>: <%= user.local.email %><br>
                </p>
            <h3><span class="fa fa-clock-o"></span> History</h3>
            <table width = 400%>
            <tr><td><strong>Date</strong></td><td><strong>Area</strong></td><td><strong>Preference</strong></td></tr> 
             <% userp.forEach(function(p) { %>
              	<tr><td height><%= p.date %></td><td><%= p.area %></td><td><%= p.pvalue %></td></tr>
             <% }); %>
             </table>
                
        <!--/div-->
        <h3><span class="fa fa-map-marker"></span> Current Weather</h3>
        <span class = "weather"><a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:00000.204.48692&bannertypeclick=wu_clean2day" title="Kampong Pengkalan Petai, Singapore Weather Forecast" target="_blank"><img src="http://weathersticker.wunderground.com/weathersticker/cgi-bin/banner/ban/wxBanner?bannertype=wu_clean2day_metric_cond&airportcode=WSSL&ForcedCity=Kampong Pengkalan Petai&ForcedState=Singapore&wmo=48692&language=EN" alt="Find more about Weather in Kampong Pengkalan Petai, SR" width="300" /></a><br><a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:00000.204.48692&bannertypeclick=wu_clean2day" title="Get latest Weather Forecast updates" style="font-family: sans-serif; font-size: 12px" target="_blank">Click for weather forecast</a></span>
	
	<h3><span class="fa fa-map-marker"></span> Satisfaction in the past hour</h3>
	<div id="prefchart" style="width:90%; height:400%;"></div>
	<script type="text/javascript">
        // based on prepared DOM, initialize echarts instance
        var myChart = echarts.init(document.getElementById('prefchart'));

        // specify chart configuration item and data
        var option = {
            color: [
			"#a2d7d8","#bfe1bf","#767675","#fcd059","#de5842"
			],
            tooltip: {},
            legend: {
                data:['Very Cold','Cold','Neutral','Warm','Very Warm']
            },
            xAxis: {
                data: ["All","Area1","Area2","Area3","Area4"]
            },
            yAxis: {},
            series: [{
                name: 'Very Cold',
                type: 'bar',
                data: <%=JSON.stringify(prefarray[0])%>
            },
			{
                name: 'Cold',
                type: 'bar',
                data: <%=JSON.stringify(prefarray[1])%>
            },
			{
                name: 'Neutral',
                type: 'bar',
                data: <%=JSON.stringify(prefarray[2])%>
            },
			{
                name: 'Warm',
                type: 'bar',
                data: <%=JSON.stringify(prefarray[3])%>
            },
			{
                name: 'Very Warm',
                type: 'bar',
                data: <%=JSON.stringify(prefarray[4])%>
            },
			
			]
        };
        // use configuration item and data specified to show chart
        myChart.setOption(option);
    </script>
	
	<h3><span class="fa fa-map-marker"></span> Temp°C in the past week</h3>
	<div id="temp" style="width:90%; height:300%;"></div>
		<script type="text/javascript">
        // based on prepared DOM, initialize echarts instance
        var myChart = echarts.init(document.getElementById('temp'));

        // specify chart configuration item and data
        var option = {
			tooltip: {},
			legend: {
                data:['Area 1','Area 2','Area 3','Area 4']
            },
            color: [
			"#F8FF7F","#7FFFAF","#DDB3FF","#8CC8FF"
			],
             xAxis: {
        type: 'time',

        
    },
    yAxis: {
        type: 'value',
		min: 15,
		max: 35
    },
	dataZoom : {
        show : true,
		type: 'slider',
        realtime : true,
		top: '7%'

    },
    series: [
        {
            name:'Area 1',
            type:'line',
            data:<%=JSON.stringify(tarray[0])%>
        },
        {
            name:'Area 2',
            type:'line',
            
            data:<%=JSON.stringify(tarray[1])%>
        },
        {
            name:'Area 3',
            type:'line',
            
            data:<%=JSON.stringify(tarray[2])%>
        },
        {
            name:'Area 4',
            type:'line',
            data:<%=JSON.stringify(tarray[3])%>
        }
    ]
};
        // use configuration item and data specified to show chart
        myChart.setOption(option);
    </script>
	
	<h3><span class="fa fa-map-marker"></span> Humd% in the past week</h3>
	<div id="humd" style="width:90%; height:300%;"></div>
		<script type="text/javascript">
        // based on prepared DOM, initialize echarts instance
        var myChart = echarts.init(document.getElementById('humd'));

        // specify chart configuration item and data
        var option = {
			tooltip: {},
			legend: {
                data:['Area 1','Area 2','Area 3','Area 4']
            },
            color: [
			"#F8FF7F","#7FFFAF","#DDB3FF","#8CC8FF"
			],
             xAxis: {
        type: 'time',

        
    },
    yAxis: {
        type: 'value',
		min: 15,
		max: 35
    },
	dataZoom : {
        show : true,
		type: 'slider',
        realtime : true,
		top: '7%'

    },
    series: [
        {
            name:'Area 1',
            type:'line',
            data:<%=JSON.stringify(harray[0])%>
        },
        {
            name:'Area 2',
            type:'line',
            
            data:<%=JSON.stringify(harray[1])%>
        },
        {
            name:'Area 3',
            type:'line',
            
            data:<%=JSON.stringify(harray[2])%>
        },
        {
            name:'Area 4',
            type:'line',
            data:<%=JSON.stringify(harray[3])%>
        }
    ]
};
        // use configuration item and data specified to show chart
        myChart.setOption(option);
    </script>
	
	


	
    </div>
    
    <!-- SUBMIT FORM -->
    
    <div class="col-sm-6">
    <h3><span class="fa fa-clipboard"></span> Submit Feedback!</h3>
    <form action="/profile" method="post">
    <div class ="row">
    <p><strong>Level 2 R&D Office (Click to select area)</strong><p>
    <div class="layout">
    <img src='../static/layout_m.png' alt="Office Layout"  width="60%">
     <div class="area1" id="area1" value="1" onclick="clickArea(this)">Area 1
     </br>Temp: <%= temparray[0] %>°C
     </br>Humd: <%= humdarray[0] %>%
     </div>
     <div class="area2" id="area2" value="2" onclick="clickArea(this)">Area 2
     </br>Temp: <%= temparray[1] %>°C
     </br>Humd: <%= humdarray[1] %>%
     </div>
      <div class="area3" id="area3" value="3" onclick="clickArea(this)">Area 3
     </br>Temp: <%= temparray[2] %>°C
     </br>Humd: <%= humdarray[2] %>%
     </div>
    <div class="area4" id="area4" value="4" onclick="clickArea(this)">Area 4
    </br>Temp: <%= temparray[3] %>°C
     </br>Humd: <%= humdarray[3] %>%
     </div>
    </div>
    
                <div class="form-group">
                <label>Area Selected</label>
                <div id="adiv" style="font-size:150%;">Select your area...</div>
                <input type="hidden" id="ainput" class="form-control" name="area">
            </div>
    
        
        <input type="hidden" name="user" value = <%= user.local.email %>>
        <input type="hidden" name="timestamp" value= <%= Date.now() %>>
        <%var date = new Date().toLocaleDateString({ timeZone: 'Asia/Shanghai'}) %>
        <%var time = new Date().toLocaleTimeString({ timeZone: 'Asia/Shanghai'}) %>
        <input type="hidden" id="date" name="date" value = <%= String(date)+",\xa0"+String(time) %>>
    <p><strong>Select Comfort Level: (cold:-3 to hot:3)</strong></p>
        <div class="slidecontainer">
        
          <p style="font-size:150%;">Value: <span id="demo"></span></p>
        </div>
        
        <script>
        function clickArea(e) {
        document.getElementById("ainput").value = e.getAttribute('value');
        document.getElementById("adiv").innerHTML = e.getAttribute('value');
        }

        function clickButton(e) {
        document.getElementById("binput").value = e.getAttribute('value');
        document.getElementById("demo").innerHTML = e.getAttribute('value');
        }      
        
        </script>
        <input type="hidden" id="binput" class="form-control" name="pvalue">
		<div class="container" style="padding-left: 20%;">
		  <button type="button" class="btn btn-primary" value="-2" onclick="clickButton(this)">Very Cold</button>
		  <button type="button" class="btn btn-success" value="-1" onclick="clickButton(this)">  Cold   </button>
		  <button type="button" class="btn" value="0" onclick="clickButton(this)"> Neutral </button>
		  <button type="button" class="btn btn-warning" value="1" onclick="clickButton(this)">   Warm   </button>
		  <button type="button" class="btn btn-danger" value="2" onclick="clickButton(this)">Very Warm</button> 
		</div>
		<div class="container" style="padding-left: 0%;padding-top:5%";">
            <button id="submit" type="submit" class="btn btn-default btn-lg">Submit</button>
		</div>
	 </form>        
        </div>

    </div>
            
    </div>





     

</div>

</body>
</html>
